/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls {
    margin-top: -50px;
    text-align: center;
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    width: 70px;
    height: 70px;
    box-sizing: border-box;
    border: 2px solid #fff;
    top: 44%;
    color: transparent;
    opacity: 0.2;
    transition: 0.2s ease;
    z-index: 10000;
}

.owl-theme .owl-controls .owl-buttons img{
    top: 44%;
    z-index: 10000;
}
.owl-prev{
    position: absolute;
    left: 0;
    background: url('../img/prev-arrow.svg') no-repeat 50% 50%;
}

.owl-next{
    position: absolute;
    right: 0;
    background: url('../img/next-arrow.svg') no-repeat 50% 50%;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    height: 16px;
    width: 16px;
    position: relative;
    top: -50px;
    border: solid 2px rgba(255, 255, 255, 0.6);
    z-index: 10000;
    margin-right: 80px;
    display: inline-block;
}


/*.owl-pagination{*/
    /*z-index: 10000;*/

/*}*/
.owl-theme .owl-controls .owl-page span {
    width: 8px;
    height: 8px;
    position: relative;
    display: block;
    background: rgba(255, 255, 255, 0.6);
    z-index: 10000;
    margin: 4px;

    /*display: block;*/
    /*width: 12px;*/
    /*height: 12px;*/
    /*margin: 5px 7px;*/
    /*filter: Alpha(Opacity=50);/!*IE7 fix*!/*/
    /*opacity: 0.5;*/
    /*-webkit-border-radius: 20px;*/
    /*-moz-border-radius: 20px;*/
    /*border-radius: 20px;*/
    /*background: #869791;*/
}

.owl-theme .owl-controls .owl-page span:after {
    content: '';
    width: 81px;
    height: 2px;
    position: relative;
    top: 3px;
    left: 13px;
    background: rgba(255, 255, 255, 0.6);
    display: block;
    z-index: 0;
}

.owl-page:last-child{
    margin: 0!important;
    /*display: none !important;*/
}

.owl-page:last-child span:after{
    content: none !important;
    width: 0px;
}


.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    filter: Alpha(Opacity=100); /*IE7 fix*/
    opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
    min-height: 150px;
    background: url(AjaxLoader.gif) no-repeat center center
}