<!-- build:section layout.head -->
<!-- /build -->
</head>

<body>

<div id="page-wrapper" class="page-wrapper">

  <!-- build:section layout.header -->
  <!-- /build -->

  <div id="page-body" class="page-body">
    <!-- build:section layout.slider -->
    <!-- /build -->

    <!-- build:section layout.fixed_btns -->
    <!-- /build -->

    <!-- build:section layout.body -->
    <!-- /build -->

  </div>
  <!-- build:section layout.footer -->
  <!-- /build -->

</div>


<!-- scripts
___________________________________________________________________________-->
<!-- build:section layout.scripts -->
<!-- /build -->
</body>
</html>
