<section class="empty-page">
    <div class="error-text">
        <div class="title">
            страница не найдена
        </div>
        <div>
            Данной страницы больше не существует, а может никогда и не было :)
        </div>
        <a href="/">Вернуться на главную</a>
    </div>
</section>
