<section class="header-title about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="label white-orange left-label">О нас</h1>

                <div class="label-text">
                    С 1998 года мы доказываем, что реальное качество можно получить по приемлемым ценам
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="bread-crumbs">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><span>О нас</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="about-us-body">
    <!-- <div class="container">
        <div class="label black-orange text-center">
            О нас
        </div>
    </div> -->
    <div class="container">
      <!-- <div class="quote text-center">
        С 1998 года мы доказываем, что реальное качество можно получить по приемлемым ценам
      </div> -->

      <section>
        <h3 class="label black-orange left-label">ОПЫТ И ПРОФЕСИОНАЛИЗМ</h3>
        <p class="orange">С самого начала своей деятельности наша компания зарекомендовала себя
          как надежный проверенный партнер и уже <b>более 15 лет</b> сохраняет этот имидж для более
          <b>1600 клиентов</b>.</p>
      </section>

      <section>
        <h3 class="text-center orange"><b>КАК ЭТО У НАС ПОЛУЧАЕТСЯ?</b></h3>
        <h4>КАЧЕСТВО</h4>
        <p>Мы ответственно подходим к выбору партнеров-поставщиков. Стоимость не всегда является определяющим фактором. Продукт отличного качества по конкурентным ценам – это и есть идеальное предложение.</p>
      </section>

      <section>
        <h4>МЫ ВСЕ СДЕЛАЕМ ДЛЯ ВАС</h4>
        <p>Сообщите нам любым способом о желании сотрудничать и мы все организуем сами:</p>
        <ul class="list-style">
          <li>Мы про<b>консультируем</b> Вас по ассортименту. Уверяем Вас, <b>у нас есть все</b>, что Вам нужно.</li>
          <li>С нами Вы забудете о громоздких базах данных сотен-тысяч поставщиков. Испробовав наш <b>сервис комплексной поставки</b>, Вы вряд ли захотите вернуться к прежней практике.</li>
          <li><b>Детали</b>, в случае необходимости, обсудим <b>во время личной встречи</b>. Мы приедем к Вам, где бы Вы не находились.</li>
          <li>Наши <b>специалисты</b> оперативно <b>подготовят всю необходимую документацию</b>.</li>
        </ul>
      </section>

      <section>
        <h4>КОНКУРСНЫЕ ТОРГИ</h4>
        <p>Покупаете с использованием бюджетных средств?
        Наша компания участвует в <b>сотнях тендеров ежегодно</b>. Вся наша продукция сертифицирована по
        соответствующим стандартам.
        <b>Это одно из наших приоритетных направлений.</b>
        </p>
      </section>


      <section>
        <h4>БЕСПЛАТНАЯ ДОСТАВКА</h4>
        <p>Какие бы вес или количесво позиций
        не имел Ваш заказ, куда бы не пришлось его везти, <b>мы оплатим услуги компании-перевозчика.</b>
        </p>
      </section>


      <section>
        <h4>И ЕЩЕ ОБ ОТВЕТСТВЕННОСТИ</h4>
        <p>Мы понимаем, что наша продукция помогает сохранять жизни и здоровье людей, создает безопасные условия их работы, облегчает исполнение сложных производственных заданий.
        Поэтому мы полностью осознаем уровень своей ответственности.
        </p>
      </section>
      </div>
</section>
