<section class="header-title articles article-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="label white-orange left-label">Новая система Active Air
                    Filtration™</h1>

                <div class="label-text">
                    Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года
                    работы без обслуживания фильтра (для сухой резки)
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="bread-crumbs">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><a href="articles.html">Статьи</a></li>
                <li><span>НОВАЯ СИСТЕМА ACTIVE...</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="arcticle">
    <div class="container">

      <div class="left-img text-wrap">
        <div class="row">
      <div class="col-xs-12">
        <img src="img/item.jpg" alt="" width="370" height="270">
        <h3 class="text-left">Заголовок, картинка слева</h3>
        <p>Средства индивидуальной защиты от поражения электрическим током разделяют на основные и дополнительные. К основным средствам защиты относят: при напряжении сети более 1000 В — изолирующие измерительные штанги и клещи, указатели напряжения, изолирующие устройства, оборудование и приспособления в виде лестниц, площадок, захватов; при напряжении сети до 1000 В — инструменты с изолирующими ручками, диэлектрические перчатки, указатели напряжения, изолирующие клещи, трапы, кронштейн-площадки.Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические монтерские когти с ремнями,, диэлектрические коврики и дорожки, монтажные пояса (для работы на высоте), страхующие канаты, лестницы-стремянки и приставные лестницы. Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические.
          Средства индивидуальной защиты от поражения электрическим током разделяют на основные и дополнительные. К основным средствам защиты относят: при напряжении сети более 1000 В — изолирующие измерительные штанги и клещи, указатели напряжения, изолирующие устройства, оборудование и приспособления в виде лестниц, площадок, захватов; при напряжении сети до 1000 В — инструменты с изолирующими ручками, диэлектрические перчатки, указатели напряжения, изолирующие клещи, трапы, кронштейн-площадки.Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические монтерские когти с ремнями,, диэлектрические коврики и дорожки, монтажные пояса (для работы на высоте), страхующие канаты, лестницы-стремянки и приставные лестницы. Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические.
</p>
      </div>
      </div>
      </div>



      <div class="right-img text-wrap">
        <div class="row">
      <div class="col-xs-12">
        <img src="img/item.jpg" alt="" width="370" height="270">
        <h3 class="text-left">Заголовок, картинка справа</h3>
        <p>Средства индивидуальной защиты от поражения электрическим током разделяют на основные и дополнительные. К основным средствам защиты относят: при напряжении сети более 1000 В — изолирующие измерительные штанги и клещи, указатели напряжения, изолирующие устройства, оборудование и приспособления в виде лестниц, площадок, захватов; при напряжении сети до 1000 В — инструменты с изолирующими ручками, диэлектрические перчатки, указатели напряжения, изолирующие клещи, трапы, кронштейн-площадки.Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические монтерские когти с ремнями,, диэлектрические коврики и дорожки, монтажные пояса (для работы на высоте), страхующие канаты, лестницы-стремянки и приставные лестницы. Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические.
          Средства индивидуальной защиты от поражения электрическим током разделяют на основные и дополнительные. К основным средствам защиты относят: при напряжении сети более 1000 В — изолирующие измерительные штанги и клещи, указатели напряжения, изолирующие устройства, оборудование и приспособления в виде лестниц, площадок, захватов; при напряжении сети до 1000 В — инструменты с изолирующими ручками, диэлектрические перчатки, указатели напряжения, изолирующие клещи, трапы, кронштейн-площадки.Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические монтерские когти с ремнями,, диэлектрические коврики и дорожки, монтажные пояса (для работы на высоте), страхующие канаты, лестницы-стремянки и приставные лестницы. Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические.
</p>
      </div>
      </div>
      </div>

      <div class="text-wrap">
        <div class="row">
      <div class="col-xs-12">
        <h3 class="text-left">Заголовок</h3>
        <p>Средства индивидуальной защиты от поражения электрическим током разделяют на основные и дополнительные. К основным средствам защиты относят: при напряжении сети более 1000 В — изолирующие измерительные штанги и клещи, указатели напряжения, изолирующие устройства, оборудование и приспособления в виде лестниц, площадок, захватов; при напряжении сети до 1000 В — инструменты с изолирующими ручками, диэлектрические перчатки, указатели напряжения, изолирующие клещи, трапы, кронштейн-площадки.Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические монтерские когти с ремнями,, диэлектрические коврики и дорожки, монтажные пояса (для работы на высоте), страхующие канаты, лестницы-стремянки и приставные лестницы. Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические.

</p>
      </div>
      </div>


      <div class="text-wrap">
        <div class="row">
      <div class="col-xs-12">
        <!-- <h3 class="text-left">Заголовок(Видео)</h3> -->
        <div class="video">
          <iframe src="https://player.vimeo.com/video/38903151" width="1200" height="674" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <p>Средства индивидуальной защиты от поражения электрическим током разделяют на основные и дополнительные. К основным средствам защиты относят: при напряжении сети более 1000 В — изолирующие измерительные штанги и клещи, указатели напряжения, изолирующие устройства, оборудование и приспособления в виде лестниц, площадок, захватов; при напряжении сети до 1000 В — инструменты с изолирующими ручками, диэлектрические перчатки, указатели напряжения, изолирующие клещи, трапы, кронштейн-площадки.Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические монтерские когти с ремнями,, диэлектрические коврики и дорожки, монтажные пояса (для работы на высоте), страхующие канаты, лестницы-стремянки и приставные лестницы. Дополнительными средствами защиты являются диэлектрические сапоги и галоши, изолирующие подставки, диэлектрические.
</p>

      </div>
      </div>
    </div>
    </div>
    </div>
</section>
