<section class="header-title articles">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="label white-orange left-label">Статьи</h1>

                <div class="label-text">
                    Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года
                    работы без обслуживания фильтра (для сухой резки)
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="bread-crumbs">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Статьи</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="arcticles-inside">
    <div class="container">
        <div class="row">
            <div class="carousel-inside">
                <div class="col-sm-6">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pagination">
    <div class="container text-center" >
        <ul>
            <li><a href="article.html" class="prev">Предыдущая</a></li>
            <li><a href="article.html" class="active" >1</a></li>
            <li><a href="article.html">2</a></li>
            <li><a href="article.html">3</a></li>
            <li><a href="article.html">4</a></li>
            <li><a href="article.html" class="next">Следующая</a></li>
        </ul>
    </div>
</section>
