<section class="our-production">
    <div class="container">
        <div class="label black-orange text-center">
            Наша продукция
        </div>
    </div>

    <div class="container product-list">
        <div class="row">
            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-1.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Средства индивидуальной защиты
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-2.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-2.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Защитные системы блокировки
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-3.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-3.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Защита от падения с высоты
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-4.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-4.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Электрические приборы,средства и устройства
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-5.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-5.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Ультразвуковые отпугиватели
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-6.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-6.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Рабочая одежда
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-7.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-7.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Рабочая обувь
                            </div>
                        </div>
                    </div>
                </div>
            </a>


            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-8.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-8.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Инструменты
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-9.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-9.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Противопожарное оборудование
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-10.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-10.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Плакаты, знаки по охране труда и экологии
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="#">
                <div class="col-md-3 col-sm-3  col-xs-6">
                    <div class="product-item">
                        <div class="image">
                            <div class="overlay-item">
                                <div class="icon">
                                    <img src="img/item-11.svg" alt="">
                                </div>
                            </div>
                            <img src="img/item-11.jpg" alt="" width="268" height="198"/>
                        </div>
                        <div class="product-name">
                            <div>
                                Другое промышленное и техническое оборудование
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="coming-soon">
                        <div>
                            <span>Уже скоро</span>
                            <span>
                            Полный каталог <br/> продукции
                            </span>
                        </div>

                    </div>
                </div>
            </a>
        </div>


    </div>
</section>

<!--Paralaxssss-->

<section class="paralaks">
    <!--<img class="prl-img" src="img/paral-1.jpg" alt=""/>-->

    <div class="container">
        <div class="label white-orange text-center white">
            О нас
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center">
                <div class="icon">
                    <img src="img/about-1.svg" alt=""/>
                </div>
                <span class="numbers js-numbers">1 650</span>

                <div class="about-name">
                    Контрагентов
                </div>
            </div>

            <div class="col-md-3 col-sm-6  text-center">
                <div class="icon">
                    <img src="img/about-2.svg" alt=""/>
                </div>
                <div class="numbers js-numbers">12 000 000</div>
                <div class="about-name">
                    Километров оплаченных <br/>
                    поставок
                </div>
            </div>

            <div class="col-md-3 col-sm-6  text-center">
                <div class="icon">
                    <img src="img/about-3.svg" alt=""/>
                </div>
                <div class="numbers js-numbers">15 500</div>
                <div class="about-name">
                    Тон оплаченных поставок
                </div>
            </div>

            <div class="col-md-3 col-sm-6  text-center">
                <div class="icon">
                    <img src="img/about-4.svg" alt=""/>
                </div>
                <div class="numbers js-numbers">3 000 000</div>
                <div class="about-name">
                    Погонных метров раскроенной <br/>
                    ткани
                </div>
            </div>
        </div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <div class="label black-orange text-center">
            Партнеры
        </div>
    </div>
    <div class="container">
        <div class="copmanys-slider">
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
            <a href="#"><img src="img/partn-1.png" alt=""/></a>
        </div>
    </div>
</section>

<section class="paralaks-2">
    <!--<img class="prl-img" src="img/paral-2.jpg" alt=""/>-->

    <div class="container">
        <div class="label white-orange text-center white">
            Полезное
        </div>
        <a href="poleznoe.html" class="btn-orange">Посмотреть документы</a>
    </div>
</section>


<section class="arcticles">
    <div class="container">
        <div class="label black-orange text-center">
            Статьи
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="carousel">
                <div class="col-md-12">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="item clear-fix">
                        <a href="article.html">
                            <div class="overlay-item col-lg-4 img">
                                <div class="icon">
                                    <div class="text-center">
                                        23
                                        <span>мар</span>
                                    </div>
                                </div>
                                <img src="img/article-2.jpg" alt="">
                            </div>
                        </a>

                        <div class="col-lg-8">
                            <a href="article.html" class="title">Новая система Active Air
                                Filtration™
                            </a>

                            <span class="about">Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года работы без обслуживания фильтра (для сухой резки) ...</span>
                            <a href="article.html" class="look">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contacts">
    <div class="container">
        <div class="col-md-5 col-md-offset-7 col-sm-6 col-sm-offset-6">
            <div class="feedback-form">
                <div class="label black-orange">Контакты</div>
                <div class="contact-info adress">
                    Украина, 29000, м. Хмельницький, <br/>
                    ул. Трудовая, 9
                </div>

                <div class="contact-info phone">
                    Тел./факс: <br/>
                    +38 (0382) 72-07-14
                </div>

                <div class="contact-info mail">
                    <a href="mailto:office@ukrintek.com">office@ukrintek.com</a>
                </div>

                <div class="socials">
                    <div>Мы в социальных сетях:</div>
                    <a href="#" class="fb-foot"></a>
                    <a href="#" class="insta-foot"></a>
                    <a href="#" class="youtube-foot"></a>
                </div>

                <a href="#" class="foot-btn js-show-feedback">Оставить заявку</a>
            </div>

            <div class="slide-form">
                <div class="feedback-form-slide">
                    <a href="" class="btn-close js-close-foot-pop-up"></a>

                    <form action="" class="pop-up-form test">
                        <input type="namet" name="name" placeholder="ФИО"/>
                        <input type="phone" name="phone" placeholder="Телефон"/>
                        <input type="email" name="email" placeholder="E-mail"/>
                        <textarea type="text" name="text" id="" cols="30" rows="6"
                                  placeholder="Ваше сообщение"></textarea>
                        <button type="submit">Оставить заявку</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div id="map">
    </div>
</section>
