<section class="header-title catalog-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="label white-orange left-label">Защитные системы блокировки</h1>
                <!-- <div class="label-text">
                    Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года
                    работы без обслуживания фильтра (для сухой резки)
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bread-crumbs">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Плакаты, знаки по охране труда и экологии</a></li>
                <li><span>Блокировочные наборы</span></li>
            </ul>
        </div>
    </div>
</section>
<section class="production-catalog">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 akordeon">
                <div class="ak-body-parent">
                    <ul>
                        <li>
                            <a href="#" class="js-open-ak">
                                Средства индивидуальной защиты
                                <i class="icon"></i>
                            </a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Защитные системы блокировки
                        <i class="icon"></i>
                        </a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Защита от падения с высоты<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Электрические приборы, средства и устройства<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Ультразвуковые отпугиватели<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Ультразвуковые отпугиватели<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Рабочая обувь<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Инструменты<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Противопожарное оборудование<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Плакаты, знаки по охране труда и экологии<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#" class="js-open-ak">Другое промышленное и тех. оборудование<i class="icon"></i></a>
                            <ul class="ak-body">
                                <li>
                                    <a href="#">Блокировочные замки</a>
                                </li>
                                <li>
                                    <a href="#" class="active">Блокировочные наборы</a>
                                </li>
                                <li>
                                    <a href="#">Устройства для спасения и эвакуации</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы механических рисков</a>
                                </li>
                                <li>
                                    <a href="#">Блокаторы электрических рисков</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Sidebar end -->
            <!-- Catalog body begin -->
            <div class="col-lg-9 col-md-9 catalog-body">
                <a href="#" class="menu-catalog js-show-catalog">
                    <span></span><span></span><span></span>
                </a>

                <div class="title"><span>Плакаты, знаки по охране труда и экологии</span></div>
                <div class="filter-wrap">
                    <div class="title-filter">Выберите производителя:</div>
                    <div class="filter-body">
                        <ul>
                            <li><a href="#" class="active">Все бренды</a></li>
                            <li><a href="#">Бренд наборов 1</a></li>
                            <li><a href="#">Бренд 1</a></li>
                            <li><a href="#">Бренд наборов 1</a></li>
                            <li><a href="#">Бренд 1</a></li>
                            <li><a href="#">Бренд наборов 2</a></li>
                            <li><a href="#">Бренд 2</a></li>
                            <li><a href="#">Бренд наборов 2</a></li>
                        </ul>
                    </div>
                    <div class="mobile-filter">
                        <a href="#" class="js-show-mobile-filter">Все бренды</a>
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="5" height="3" viewBox="0 0 5 3">
                            <defs>
                                <style>
                                .cls-1 {
                                    fill: #000;
                                    fill-rule: evenodd;
                                }
                                </style>
                            </defs>
                            <path d="M4.986,0.006 L2.491,3.004 L-0.005,0.006 L4.986,0.006 Z" class="cls-1" />
                        </svg>
                    </div>
                    <!-- <div class="mobile-filter-body">
                        <select class="dropdown-style">
                            <option><a href="vk.com">Бренд наборов 1</a></option>
                            <option>Второй пункт</option>
                            <option>Третий пункт</option>
                        </select>
                    </div> -->
                </div>
                <div class="sort-wrap">
                    <div class="title-filter">Упорядочить:</div>
                    <div class="sort-body">
                        <span>А-Я</span>
                        <a href="#" class="sort-down"></a>
                        <a href="#" class="sort-up"></a>
                    </div>
                </div>
                <div class="clear-fix"></div>
                <div class="catalog-view-body">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-1.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Замковый комплект - EP-8771
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-2.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Металлическая замковая подвесная станция
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-3.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Замковый ящик - EP-8774
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-4.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Укомплектованные инструментальные ящики S1017
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-5.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Блокиратор шаровых вентилей S3080
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-6.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Комплект блокировочный S3921
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-7.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Замковый комплект - EP-8771
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-8.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Металлическая замковая подвесная станция
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-9.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Замковый ящик - EP-8774
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-9.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Замковый ящик - EP-8774
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-9.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Замковый ящик - EP-8774
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <a href="#">
                                <div class="product-item">
                                    <div class="image">
                                        <div class="overlay-item">
                                            <div class="icon">
                                                <img src="img/zoom-ico.svg" alt="">
                                            </div>
                                        </div>
                                        <img src="img/catalog-9.jpg" alt="" width="268" height="198">
                                    </div>
                                    <div class="product-name">
                                        <div>
                                            Замковый ящик - EP-8774
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <section class="pagination">
                    <div class="text-md-right texs-lg-right text-xs-center text-sm-center">
                        <ul>
                            <li><a href="article.html" class="prev">Предыдущая</a></li>
                            <li><a href="article.html" class="active">1</a></li>
                            <li><a href="article.html">2</a></li>
                            <li><a href="article.html">3</a></li>
                            <li><a href="article.html">4</a></li>
                            <li><a href="article.html" class="next">Следующая</a></li>
                        </ul>
                    </div>
                </section>
            </div>
            <!-- Catalog body end -->
        </div>
    </div>
</section>
