<section>
    <div class="pop-up-detail">
        <div class="container">
            <div class="row">
                <div class="gallery-body">
                    <div class="title">Регулируемый кабельный блокиратор (2/5)</div>
                    <div class="gallery">
                        <a href="#" class="close-gallery js-close-gallery"></a>
                        <div class="main-img" id="sync1">
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                        <!--     <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div>
                            <div class="item">
                                <img src="img/product-1.jpg" alt="" width="570" height="400">
                            </div> -->
                        </div>
                        <div class="img-thumbs-gallery">
                            <div class="" id="sync2">
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                          <!--       <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div>
                                <div class="item">
                                    <img src="img/product-1.jpg" alt="" height="66" width="96">
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="header-title catalog-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="label white-orange left-label">Оборудование для выполнения работ в ограниченном пространстве</h1>
                <!-- <div class="label-text">
                    Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года
                    работы без обслуживания фильтра (для сухой резки)
                </div> -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="bread-crumbs">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><a href="#">Продукция</a></li>
                <li><a href="#">Защитные системы блокировки</a></li>
                <li><a href="#">Оборудование для выполнения работ в ограниченном пространстве</a></li>
                <li><span>Регулируемый кабельный блокиратор</span></li>
            </ul>
        </div>
    </div>
</section>
<section class="production-detail">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-6">
                <div class="product-images">
                    <img src="img/zoom-icon.png" alt="" width="50" height="50" class="zoom-icon">


                    <div class="product-slider">
                        <a href="#" class="zoom-img js-show-zoom">
                            <img src="img/product-1.jpg" alt="" width="440" height="320">
                        </a>
                        <a href="#" class="zoom-img js-show-zoom">
                            <img src="img/product-1.jpg" alt="" width="440" height="320">
                        </a>
                        <a href="#" class="zoom-img js-show-zoom">
                            <img src="img/product-1.jpg" alt="" width="440" height="320">
                        </a>
                        <a href="#" class="zoom-img js-show-zoom">
                            <img src="img/product-1.jpg" alt="" width="440" height="320">
                        </a>
                        <a href="#" class="zoom-img js-show-zoom">
                            <img src="img/product-1.jpg" alt="" width="440" height="320">
                        </a>
                        <a href="#" class="zoom-img js-show-zoom">
                            <img src="img/product-1.jpg" alt="" width="440" height="320">
                        </a>
                    </div>
                    <div class="product-thumb">
                        <img src="img/product-1.jpg" alt="" width="100" height="68">
                        <img src="img/product-1.jpg" alt=""  height="68">
                        <img src="img/product-1.jpg" alt="" width="100" height="68">
                        <img src="img/product-1.jpg" alt=""  height="68">
                        <img src="img/product-1.jpg" alt=""  height="68">
                        <img src="img/product-1.jpg" alt=""  height="68">
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-6">
                <div class="title">РЕГУЛИРУЕМЫЙ КАБЕЛЬНЫЙ БЛОКИРАТОР</div>
                <div class="art"><span>Арт. </span>S1017</div>
                <div class="brand"><span>Производитель:</span>Бренд набора 1</div>
                <div class="disc">
                    <p>Легкая сумка с одним отделением и поясной застежкой на липучках. Удобна для переноса и хранения небольшого блокировочного набора. Может крепиться к поясному ремню.</p>
                    <p>Предотвращает несанкционированный доступ к электрическим соединительным устройствам и пультам. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="detail-tab">
    <div class="container">
        <ul>
            <li>
                <a href="#tab1">Описание</a>
            </li>
            <li>
                <a href="#tab2" class="active">Характеристики</a>
            </li>
            <li>
                <a href="#tab3">Полезное</a>
            </li>
        </ul>
        <div class="tabs-body">
            <div id="tab1" class="tab-main">
                <div class="disc">
                    <p>Легкая сумка с одним отделением и поясной застежкой на липучках. Удобна для переноса и хранения небольшого блокировочного набора. Может крепиться к поясному ремню.</p>
                    <p>Предотвращает несанкционированный доступ к электрическим соединительным устройствам и пультам. </p>
                </div>
            </div>
            <div id="tab2" class="tab-main active">
                <div class="row">
                    <div class="col-md-6">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Размер, мм</td>
                                    <td>51 х 25 х ширина 23 </td>
                                </tr>
                                <tr>
                                    <td>Материал</td>
                                    <td>прочный пластик</td>
                                </tr>
                                <tr>
                                    <td>Констуркция</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Количество в упаковке, шт.</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Замочная скважина, мм</td>
                                    <td>8, максимальный размер зажима 13</td>
                                </tr>
                                <tr>
                                    <td>Предназначен для</td>
                                    <td>блокировки 1-4 полюсных выключателей</td>
                                </tr>
                                <tr>
                                    <td>Используется для</td>
                                    <td>большинства выключателей</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Размер, мм</td>
                                    <td>51 х 25 х ширина 23 </td>
                                </tr>
                                <tr>
                                    <td>Материал</td>
                                    <td>прочный пластик</td>
                                </tr>
                                <tr>
                                    <td>Констуркция</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>Количество в упаковке, шт.</td>
                                    <td>2</td>
                                </tr>
                                <tr>
                                    <td>Замочная скважина, мм</td>
                                    <td>8, максимальный размер зажима 13</td>
                                </tr>
                                <tr>
                                    <td>Предназначен для</td>
                                    <td>блокировки 1-4 полюсных выключателей</td>
                                </tr>
                                <tr>
                                    <td>Используется для</td>
                                    <td>большинства выключателей</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="tab3" class="tab-main">
                <section class="bonus-info">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="adress/1.xslt" class="list">
                     <span class="type"></span>
                     <span class="list-name">Таблица устойчивости к химическим веществам</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">pdf</span>
                    <span class="list-name">Международные коды по обработке изделий</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">xls</span>
                    <span class="list-name">Инструкция по использованию фильтров для защиты дыхания в соответствии с загрязненной средой</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">doc</span>
                    <span class="list-name">Таблица соответствия размеров обуви</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">pdf</span>
                    <span class="list-name">Устойчивость обуви к скольжению</span>
                </a>
            </div>
        </div>
    </div>
</section>
            </div>
        </div>
    </div>
</section>
<section class="detail-table-wrap">
    <div class="container">
        <table class="detail-table">
            <thead>
                <tr>
                    <td><span href="#" class="filter-double">Название поля</span></td>
                    <td><span href="#" class="filter">Количество</span></td>
                    <td><span href="#" class="filter">Специализация</span></td>
                    <td><span href="#">Коментарии</span></td>
                    <td><span href="#">Еще поле таблицы</span></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Название первого поля</td>
                    <td>20 000</td>
                    <td>15%</td>
                    <td>Комментариев нет</td>
                    <td>Доп-я информация</td>
                </tr>
                <tr>
                    <td>Название второго поля</td>
                    <td>20 000</td>
                    <td>15%</td>
                    <td>Комментариев нет</td>
                    <td>Доп-я информация</td>
                </tr>
                <tr>
                    <td>Название третего поля</td>
                    <td>20 000</td>
                    <td>15%</td>
                    <td>Комментариев нет</td>
                    <td>Доп-я информация</td>
                </tr>
                <tr>
                    <td>Название четвертого поля</td>
                    <td>20 000</td>
                    <td>15%</td>
                    <td>Комментариев нет</td>
                    <td>Доп-я информация</td>
                </tr>
                <tr>
                    <td>Название пятого поля</td>
                    <td>20 000</td>
                    <td>15%</td>
                    <td>Комментариев нет</td>
                    <td>Доп-я информация</td>
                </tr>
                <tr>
                    <td>Название пятого поля</td>
                    <td>20 000</td>
                    <td>15%</td>
                    <td>Комментариев нет</td>
                    <td>Доп-я информация</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
