<div class="pop-up">
    <div class="pop-up-block">
        <a href="#" class="close-pop-up js-close-pop"></a>

        <div class="title">Введите ваше имя и <br/> номер телефона</div>
        <form action="">
            <input class="input-name" type="name"name="name" placeholder="Имя"/>
            <input class="input-phone" type="phone" name="phone" placeholder="Телефон"/>
            <input type="submit" value="OK"/>
        </form>
        <span>В течении 15 минут наш менеджер свяжется с вами</span>
    </div>

    <div class="overlay"></div>
    <div class="overlay-black"></div>
</div>

<div class="container fixed-btn">
    <a href="#" class="call-to-action js-show-main-pop">
        <div>
            <div></div>
        </div>
    </a>
    <a href="#" class="back-top js-scroll-top">
    </a>
</div>