<footer id="footer" class="wrapper footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <ul class="foot-menu">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Полезное</a></li>
                    <li><a href="#">Статьи</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3">
                <ul>
                    <li>
                        <div class="title"><a href="#">Продукция</a></div>
                    </li>
                    <li><a href="#">Средства индивидуальной защиты</a></li>
                    <li><a href="#">Защитные системы блокировки</a></li>
                    <li><a href="#">Защита от падения с высоты</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-sm-3">
                <ul>
                    <li><a href="#">Электрические приборы, средства
                        и устройства</a></li>
                    <li><a href="#">Ультразвуковые отпугиватели</a></li>
                    <li><a href="#">Рабочая одежда</a></li>
                    <li><a href="#">Рабочая обувь</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3">
                <ul>
                    <li><a href="#">Инструменты</a></li>
                    <li><a href="#">Противопожарное оборудование
                    </a></li>
                    <li><a href="#">Плакаты, знаки по охране труда
                        и экологии</a></li>
                    <li><a href="#">Другое промышленное и техническое
                        оборудование</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-copyright">© 1994 - 2015 Укринтэк. <a href="#">Все права защищены</a></div>
                    <div class="made-by">Розработка сайта <a href="#">RexSoft</a></div>
                </div>
            </div>
        </div>

    </div>
</footer>
