<header id="header" class="wrapper header">
    <div class="container-fluid">
        <div class="row">
            <div class="lang-select js-show-langs">
                <div class="current-lang">Укр</div>
                <ul class="langs">
                    <li class="active"><a href="#">Укр</a></li>
                    <li><a href="#">Рус</a></li>
                    <li><a href="#">Eng</a></li>
                </ul>
            </div>

            <a href="#" class="search-btn js-show-search"></a>
            <a href="#" class="menu-button js-show-menu">
                <span></span><span></span><span></span>
            </a>

            <div class="search-wrap">
                <form action="">
                    <input type="search" class="search-bar"/>
                    <input type="submit" value=""/>
                    <a href="#" class="js-close-search close-search"></a>
                </form>
            </div>

            <a href="#" class="contacts-btn js-show-contacts">Контакты</a>

            <div class="container">
                <a href="index.html" class="brand-logo">
                    <img src="img/logo.svg" alt="" width="168" height="42"/>
                </a>

                <div class="menu">
                    <div class="row">
                        <ul>
                            <li class="mobile-search">
                                <form action="">
                                    <input type="submit" value=""/>
                                    <input type="search" placeholder="Что вы хотите найти?"/>
                                    <a href="#" class="js-close-mobile-search close-search"></a>
                                </form>
                            </li>
                            <li>
                                <div class="col-md-2 text-sm-center">
                                    <a href="about_us.html">О нас</a>
                                </div>
                            </li>
                            <li>
                                <div class="col-md-2">
                                    <a href="products.html">Продукция</a>
                                </div>
                            </li>

                            <li>
                                <div class="col-md-2 col-md-offset-4">
                                    <a href="poleznoe.html">Полезное</a>
                                </div>
                            </li>

                            <li>
                                <div class="col-md-2">
                                    <a href="articles.html">Статьи</a>
                                </div>
                            </li>

                            <li class="menu-contacts">
                                <a href="#" class="js-show-contacts-mobile">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="pop-up-contacts">
                <a href="#" class="close-pop-up js-close-pop-up"></a>

                <div class="socials">
                    <a href="#" class="fb"></a>
                    <a href="#" class="insta"></a>
                    <a href="#" class="youtube"></a>
                </div>

                <div class="title">Контакты</div>
                <div class="height-fix">
                    <div class="contact-info adress">
                        Украина, 29000, м. Хмельницький, <br/>
                        ул. Трудовая, 9
                    </div>

                    <div class="contact-info phone">
                        Тел./факс: <br/>
                        +38 (0382) 72-07-14
                    </div>

                    <div class="contact-info mail">
                        <a href="mailto:office@ukrintek.com">office@ukrintek.com</a>
                    </div>

                    <form action="" class="pop-up-form">
                        <input type="name" name="name" placeholder="ФИО"/>
                        <input type="phone" name="phone" placeholder="Телефон"/>
                        <input type="email" name="email" placeholder="E-mail"/>
                        <textarea type="text" name="text" name="" id="" cols="30" rows="6"
                                  placeholder="Ваше сообщение"></textarea>
                        <button type="submit">Оставить заявку</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
