<section class="header-title poleznoe">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="label white-orange left-label">Полезное</h1>

                <div class="label-text">
                    Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года
                    работы без обслуживания фильтра (для сухой резки)
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="bread-crumbs">
            <ul>
                <li><a href="#">Главная</a></li>
                <li><span>Полезное</span></li>
            </ul>
        </div>
    </div>
</section>

<section class="bonus-info">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="adress/1.xslt" class="list">
                     <span class="type"></span>
                     <span class="list-name">Таблица устойчивости к химическим веществам</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">pdf</span>
                    <span class="list-name">Международные коды по обработке изделий</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">xls</span>
                    <span class="list-name">Инструкция по использованию фильтров для защиты дыхания в соответствии с загрязненной средой</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">doc</span>
                    <span class="list-name">Таблица соответствия размеров обуви</span>
                </a>
            </div>

            <div class="col-xs-12">
                <a href="#" class="list">
                    <span class="type">pdf</span>
                    <span class="list-name">Устойчивость обуви к скольжению</span>
                </a>
            </div>
        </div>
    </div>
</section>
