<section class="results">
    <div class="container">
        <p class="ajaxSearch_resultsInfos">7 найдено по запросу «<span
                class="ajaxSearch_highlight ajaxSearch_highlight1">средства</span>». <span
                class="ajaxSearch_resultsDisplayed">Показано: 7.</span></p>

        <div id="grpResult_site_wide" class="ajaxSearch_grpResult">

            <div class="ajaxSearch_grpResultName">
                <span class="ajaxSearch_grpResultsDisplayed">(Результаты 1 – 7 из 7)</span></div>


  <span class="ajaxSearch_paging">


  </span>


            <div class="ajaxSearch_result">
                <a class="ajaxSearch_resultLink"
                   href="/produkciya/podkatalog.html?searched=%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2%D0%B0&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1"
                   title="">Средства индивидуальной защиты</a>


                <div class="ajaxSearch_resultExtract"><p>... з наявних на ринку, що гарантує до року роботи без
                    обслуговування фільтра (для сухого різання),<span
                            class="ajaxSearch_highlight ajaxSearch_highlight1">Средства</span> индивидуальной
                    защиты,Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке...</p></div>


            </div>
            <div class="ajaxSearch_result">
                <a class="ajaxSearch_resultLink"
                   href="/produkciya/elektricheskie-pribory-sredstva-i-ustrojstva.html?searched=%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2%D0%B0&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1"
                   title="">Электрические приборы, средства и устройства</a>


                <div class="ajaxSearch_resultExtract"><p>... гарантує до року роботи без обслуговування фільтра (для
                    сухого різання),Электрические приборы, <span class="ajaxSearch_highlight ajaxSearch_highlight1">средства</span>
                    и устройства,Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, что гар...
                </p></div>


            </div>
            <div class="ajaxSearch_result">
                <a class="ajaxSearch_resultLink"
                   href="/produkciya/podkatalog/sredstva-zashhity-golovy-i-lica.html?searched=%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2%D0%B0&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1"
                   title="">Средства защиты головы и лица</a>


                <div class="ajaxSearch_resultExtract"><p>...Protective equipment for head and face,Засоби захисту голови
                    та обличчя,<span class="ajaxSearch_highlight ajaxSearch_highlight1">Средства</span> защиты головы и
                    лица ...</p></div>


            </div>
            <div class="ajaxSearch_result">
                <a class="ajaxSearch_resultLink"
                   href="/produkciya/podkatalog/sredstva-zashhity-organov-dyhaniya.html?searched=%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2%D0%B0&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1"
                   title="">Средства защиты органов дыхания</a>


                <div class="ajaxSearch_resultExtract"><p>...Respiratory protection,Засоби захисту органів дихання,<span
                        class="ajaxSearch_highlight ajaxSearch_highlight1">Средства</span> защиты органов дыхания ...
                </p></div>


            </div>
            <div class="ajaxSearch_result">
                <a class="ajaxSearch_resultLink"
                   href="/produkciya/podkatalog/sredstva-zashhity-ruk.html?searched=%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2%D0%B0&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1"
                   title="">Средства защиты рук</a>


                <div class="ajaxSearch_resultExtract"><p>...Hand protection,Засоби захисту рук,<span
                        class="ajaxSearch_highlight ajaxSearch_highlight1">Средства</span> защиты рук ...</p></div>
            </div>
            <div class="ajaxSearch_result">
                <a class="ajaxSearch_resultLink"
                   href="/produkciya/podkatalog/sredstva-zashhity-organov-zreniya.html?searched=%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2%D0%B0&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1"
                   title="">Средства защиты органов зрения</a>
                <div class="ajaxSearch_resultExtract"><p>...The eye protection,Засоби захисту органів зору,<span
                        class="ajaxSearch_highlight ajaxSearch_highlight1">Средства</span> защиты органов зрения ...</p>
                </div>
            </div>
            <div class="ajaxSearch_result">
                <a class="ajaxSearch_resultLink"
                   href="/produkciya/podkatalog/sredstva-zashhity-organov-sluha.html?searched=%D1%81%D1%80%D0%B5%D0%B4%D1%81%D1%82%D0%B2%D0%B0&amp;advsearch=oneword&amp;highlight=ajaxSearch_highlight+ajaxSearch_highlight1"
                   title="">Средства защиты органов слуха</a>
                <div class="ajaxSearch_resultExtract"><p>...Hearing protection,Засоби захисту органів слуху,<span
                        class="ajaxSearch_highlight ajaxSearch_highlight1">Средства</span> защиты органов слуха ...</p>
                </div>
            </div>

            <span class="ajaxSearch_paging">

            </span>
        </div>
    </div>
</section>