<div class="slider-wrap">
    <div class="owl-carousel items">
        <div class="slide">
            <div class="slide-text">
                <div class="slider-label white-orange">
                    Подарок за каждый спецкомплект
                </div>
                <a href="#" class="btn-orange">Подробнее</a>
            </div>
            <img src="img/slide.jpg" alt=""/>
        </div>

        <div class="slide">
            <div class="slide-text">
                <div class="slider-label white-orange">
                    Подарок за каждый спецкомплект
                </div>
                <a href="#" class="btn-orange">Подробнее</a>
            </div>
            <img src="img/slide.jpg" alt=""/>
        </div>

        <div class="slide">
            <div class="slide-text">
                <div class="slider-label white-orange">
                    Подарок за каждый спецкомплект
                </div>
                <a href="#" class="btn-orange">Подробнее</a>
            </div>
            <img src="img/slide.jpg" alt=""/>
        </div>

        <div class="slide">
            <div class="slide-text">
                <div class="slider-label white-orange">
                    Подарок за каждый спецкомплект
                </div>
                <a href="#" class="btn-orange">Подробнее</a>
            </div>
            <img src="img/slide.jpg" alt=""/>
        </div>

    </div>
</div>

<div class="line">
    <div class="pager">
        
    </div>
</div>