<section class="header-title articles">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h1 class="label white-orange left-label">Новая система Active Air
                    Filtration™</h1>

                <div class="label-text">
                    Одна из самых эффективных систем фильтрации воздуха из имеющихся на рынке, гарантирующая до года
                    работы без обслуживания фильтра (для сухой резки)
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="bread-crumbs">
            <ul>
                <li><a href="index.html">Главная</a></li>
                <li><span>Статьи</span></li>
            </ul>
        </div>
    </div>
</section>


<div class="container style-list-type">
  <div class="col-md-4">
    <h2>ЗАГОЛОВОК (Н2)</h2>
    <h3>ЗАГОЛОВОК (Н3)</h3>
    <h4>ЗАГОЛОВОК (Н4)</h4>
    <h5>ЗАГОЛОВОК (Н5)</h5>
  </div>

  <div class="col-md-4">
    <div><h2>Ненумерованный (H2)</h2></div>
    <ul class="list-style underline-list">
      <li>обычная непосещенная ссылка </li>
      <li>обычная непосещенная ссылка </li>
      <li>обычная непосещенная ссылка
        <ul>
          <li>обычная непосещенная ссылка</li>
          <li>обычная непосещенная ссылка</li>
          <li>обычная непосещенная ссылка</li>
          <li>обычная непосещенная ссылка</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="col-md-4">
    <div><h2>Нумерованный (H2)</h2></div>
    <ol class="list-style underline-list">
      <li>обычная непосещенная ссылка </li>
      <li>обычная непосещенная ссылка </li>
      <li>обычная непосещенная ссылка
        <ol>
          <li>обычная непосещенная ссылка</li>
          <li>обычная непосещенная ссылка</li>
          <li>обычная непосещенная ссылка</li>
          <li>обычная непосещенная ссылка</li>
        </ol>
      </li>
    </ol>
  </div>
</div>

<section>
    <div class="container inputs">
        <div>
            <form action="">
                <input type="radio" name="radio" class="radio-style">
                <input type="radio" name="radio" class="radio-style">
                Радиокнопки
            </form>
        </div>
        <div>
            <form action="">
                <input type="checkbox" class="checkbox-style">
                <input type="checkbox" class="checkbox-style">
                Чекбокс
            </form>
        </div>
    </div>

    <div class="container">
        <div class="col-md-4">
            <select class="dropdown-style">
                <option>Выпадающий список</option>
                <option>Второй пункт</option>
                <option>Третий пункт</option>
            </select>
        </div>
    </div>
</section>

<div class="container">
  <div class="quote">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum veniam provident, totam, fugit ut voluptatibus expedita esse perspiciatis vel error harum sed saepe, quas. Magnam, consectetur accusamus sit cum. Suscipit.
  </div>
</div>

<div class="container">
  <table>
    <thead>
      <tr>
        <td><a href="#" class="filter-double">Название поля</a></td>
        <td><a href="#" class="filter">Количество</a></td>
        <td><a href="#" class="filter">Специализация</a></td>
        <td><a href="#">Коментарии</a></td>
        <td><a href="#">Еще поле таблицы</a></td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Название первого поля</td>
        <td>20 000</td>
        <td>15%</td>
        <td>Комментариев нет</td>
        <td>Доп-я информация</td>
      </tr>
      <tr>
        <td>Название первого поля</td>
        <td>20 000</td>
        <td>15%</td>
        <td>Комментариев нет</td>
        <td>Доп-я информация</td>
      </tr>
      <tr>
        <td>Название первого поля</td>
        <td>20 000</td>
        <td>15%</td>
        <td>Комментариев нет</td>
        <td>Доп-я информация</td>
      </tr>
      <tr>
        <td>Название первого поля</td>
        <td>20 000</td>
        <td>15%</td>
        <td>Комментариев нет</td>
        <td>Доп-я информация</td>
      </tr>
      <tr>
        <td>Название первого поля</td>
        <td>20 000</td>
        <td>15%</td>
        <td>Комментариев нет</td>
        <td>Доп-я информация</td>
      </tr>


    </tbody>
  </table>
</div>
