#footer {
  padding-top: 34px;
  width: 100%;
  background-color: @darkgrey;

  >.container{
    padding-bottom: 42px;
  }

  .title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 19px;

    a{
      color: #FFFFFF;

      &:hover{
        color: @orange;;
      }
    }
  }

  ul {
    list-style-type: none;
    li {
      margin-bottom: 14px;
      a {
        line-height: 16px;
        font-size: 14px;
        color: #859399;
        text-decoration: none;

        &:hover{
          color: #ffffff;
          transition: .2s ease;

        }
      }
    }
  }

  .foot-menu {
    list-style-type: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    li {
      margin-bottom: 16px;
    }
    a {
      color: #ffffff;
      text-decoration: none;

      &:hover {
        color: @orange;
        transition: .2s ease;
      }
    }
  }

  .col-md-3:nth-child(3), .col-md-3:nth-child(4) {
    ul {
      margin-top: 43px;

      @media (max-width: @screen-sm-max){
        margin-top: 0px;
      }
    }
  }

  .copyright{
    width: 100%;
    background-color: #0d0d0d;
    *{
      font-size: 12px;
      color: #FFF;
      line-height: 50px;
    }
    
    a{
      color: @orange;
    }

    .title-copyright{
      float: left;
    }

    .made-by{
      float: right;
    }

    @media (max-width: 580px){
      .title-copyright{
        float: inherit !important;
      }
      .made-by{
        float: left;
      }
    }
  }

}