body {
    font-family: Arial;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

@orange: #de3b26;
@grey: #44454d;
@darkgrey: #2c2e33;
input::-ms-clear {
    display: none;
}

header {
    .container-fluid {
        height: 71px;
        background-color: @darkgrey;
        transition: .4s ease;
        z-index: 25000;
        position: fixed;
        width: 100%;
    }
    .container {
        position: relative;
        @media (max-width: 1430px) {
            width: 900px;
        }
        @media (min-width: 768px) and (max-width: 1200px) {
            width: 700px;
        }
        @media (max-width: @screen-sm-max) {
            position: inherit;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    .lang-select {
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0d0d0d;
        width: 90px;
        cursor: pointer;
        height: 71px;
        @media (max-width: @screen-sm-max) {
            .current-lang {
                padding: 26px 19px;
            }
            .langs li a {
                width: 70px !important;
            }
            .current-lang:before {
                right: 11px !important;
            }
        }
        &.active {
            .current-lang {
                &:before {
                    transform: rotateZ(180deg);
                    margin-top: -2px;
                }
            }
        }
        .current-lang {
            color: #fff;
            text-transform: uppercase;
            // text-align: center;
            padding: 26px 29px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 5px;
                height: 3px;
                right: 28px;
                top: 50%;
                background: url('../img/lang-arrow.svg') no-repeat;
            }
        }
        .langs {
            text-transform: uppercase;
            display: none;
            li {
                color: #fff;
                display: block;
                text-align: center;
                &.active {
                    display: none;
                }
                a {
                    width: 90px;
                    height: 30px;
                    line-height: 30px;
                    display: block;
                    color: #fff;
                    text-decoration: none;
                    background-color: @darkgrey;
                    &:hover {
                        background: @orange;
                    }
                }
            }
        }
        //
        //position: absolute;
        //top: 0;
        //left: 0;
        //background-color: #0d0d0d;
        //width: 90px;
        //height: 71px;
        //
        //select{
        //  -webkit-appearance:none !important;
        //}
        //
        //.opened{
        //  .jq-selectbox__trigger-arrow{
        //    transform: rotateZ(180deg);
        //    margin-top: -2px;
        //  }
        //}
        //
        //.jq-selectbox {
        //  li{
        //    padding: 10px 19px 10px 10px;
        //    text-align: center;
        //  }
        //}
        //
        //.jq-selectbox__select-text {
        //  padding: 19px 8px 19px 19px;
        //}
        //.jq-selectbox__select {
        //  padding: 0px 30px 0 10px;
        //}
        //.jq-selectbox__trigger-arrow {
        //  right: -13px;
        //}
        //
        //.jq-selectbox__dropdown {
        //  border: none;
        //  -webkit-border-radius: 0px;
        //  -moz-border-radius: 0px;
        //  border-radius: 0px;
        //  margin: 0;
        //
        //  ul {
        //    width: 90px !important;
        //    z-index: 15000;
        //    .sel {
        //      display: none;
        //    }
        //    @media (max-width: @screen-xs-max) {
        //      width: 70px !important;
        //    }
        //  }
        //}
        @media (max-width: @screen-sm-max ) {
            width: 70px;
        }
    }
    .search-wrap {
        display: none;
        position: absolute;
        left: 0 !important;
        right: 0 !important;
        margin: auto !important;
        z-index: 10000;
        margin-left: 162px !important;
        width: 36vw;
        border-right: 2px solid #000;
        @media (max-width: 1850px) {
            width: 32vw;
        }
        @media (max-width: 1450px) {
            width: 29vw;
        }
        @media (max-width: @screen-md-max) {
            width: 26vw;
        }
        @media (max-width: 1100px) {
            width: 24vw;
        }
        input[type=search] {
            height: 70px;
            font-size: 24px;
            background-color: @darkgrey;
            color: #fff;
            border: none;
            padding-left: 20px;
            -webkit-appearance: none;
        }
        input[type=submit] {
            height: 70px;
            width: 70px;
            opacity: 0;
            position: absolute;
            left: -70px;
            top: 0;
            display: none;
            z-index: 28000;
        }
        input[type="search"]::-webkit-search-decoration,
        input[type="search"]::-webkit-search-cancel-button,
        input[type="search"]::-webkit-search-results-button,
        input[type="search"]::-webkit-search-results-decoration {
            display: none;
        }
        .close-search {
            position: absolute;
            height: 70px;
            width: 70px;
            box-sizing: border-box;
            top: 0;
            right: 0;
            background: url('../img/cross.svg') no-repeat 50% 50%;
            background-size: 10px 10px;
            &:hover {
                opacity: 0.5;
                transition: .2s ease;
            }
        }
        @media (max-width: @screen-sm-max) {
            //display: block;
            width: 100% !important;
            top: 71px;
            input[type=submit] {
                left: 0;
                top: -1px;
                opacity: 1;
                background: @orange url('../img/search-icon.svg') no-repeat 50% 50%;
                background-size: 30%;
                border: none;
            }
            .close-search {
                display: none;
            }
        }
    }
    .search-btn {
        position: absolute;
        top: 0;
        left: 90px;
        height: 70px;
        width: 70px;
        background: #44454d url('../img/search-icon.svg') no-repeat 50% 50%;
        background-size: 30%;
        transition: .4s ease;
        &:hover {
            border-bottom: none;
        }
        &.active {
            background: @orange url('../img/search-icon.svg') no-repeat 50% 50%;
            background-size: 30%;
        }
        @media (max-width: @screen-sm-max) {
            display: none;
        }
    }
    .contacts-btn {
        width: 160px;
        height: 71px;
        background-color: #0d0d0d;
        color: #fff;
        text-align: right;
        padding: 24px 37px 24px 0;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        position: absolute;
        right: 0;
        transition: .2s ease;
        box-sizing: border-box;
        &:hover {
            color: @orange;
            border-bottom: none
        }
        &.active {
            transition: .2s ease;
            z-index: 1;
            &:hover {
                color: #fff !important;
            }
        }
        @media (max-width: @screen-sm-max) {
            width: 140px;
            text-align: right;
            padding: 24px 30px;
        }
    }
    .brand-logo {
        img {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            @media ( max-width: 340px) {
                width: 50% !important;
            }
        }
    }
    .menu-button {
        background-color: @grey;
        height: 100%;
        width: 70px;
        position: absolute;
        left: 70px;
        padding: 26px 17px;
        box-sizing: border-box;
        display: none;
        span {
            display: block;
            width: 34px;
            height: 2px;
            background-color: #fff;
            margin: 0 auto;
            margin-bottom: 6px;
            transition: .2s ease;
            &:first-child {
                transform: rotateZ(0deg);
                transition: .2s ease;
            }
            &:last-child {
                transform: rotateZ(0deg);
                transition: .2s ease;
            }
        }
        &.active {
            span:first-child {
                transform: rotateZ(45deg);
                transform-origin: 50% 50%;
                position: relative;
                top: 10px;
                transition: .2s ease;
            }
            span:last-child {
                transform: rotateZ(-45deg);
                transform-origin: 50% 50%;
                position: relative;
                top: -6px;
                transition: .2s ease;
            }
            span:nth-child(2) {
                opacity: 0;
                transition: .2s ease;
            }
        }
        @media ( max-width: @screen-sm-max) {
            display: block;
        }
    }
    .menu {
        ul {
            list-style-type: none;
            li {
                font-weight: bold;
                font-size: 14px;
                text-transform: uppercase;
                a {
                    text-align: center;
                    display: block;
                    padding: 25px 0 23px;
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                    color: #ffffff;
                    transition: .4s ease;
                    &:hover {
                        color: @orange;
                        border-bottom: 2px solid @orange;
                    }
                }
            }
            .menu-contacts,
            .mobile-search {
                display: none;
            }
            .mobile-search {
                position: relative;
                input {
                    -webkit-appearance: none !important;
                }
                .close-search {
                    position: absolute;
                    height: 70px;
                    width: 70px;
                    box-sizing: border-box;
                    top: 0;
                    right: 0;
                    background: url('../img/cross.svg') no-repeat 50% 50%;
                    border-bottom: none !important;
                    &:hover {
                        opacity: 0.5;
                        transition: .2s ease;
                    }
                }
                input[type="search"]::-webkit-search-decoration,
                input[type="search"]::-webkit-search-cancel-button,
                input[type="search"]::-webkit-search-results-button,
                input[type="search"]::-webkit-search-results-decoration {
                    display: none;
                }
                input[type=submit] {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 70px;
                    width: 70px;
                    background: @orange url('../img/search-icon.svg') no-repeat 50% 50%;
                    background-size: 30%;
                    transition: .4s ease;
                    border: none;
                }
                input[type=search] {
                    width: 100%;
                    height: 70px;
                    font-size: 18px;
                    background-color: @darkgrey;
                    color: #fff;
                    border: none;
                    padding-left: 80px;
                    text-align: left;
                    &::-webkit-input-placeholder {
                        color: #fff;
                        font-size: 18px;
                        opacity: 0.3;
                    }
                    &::-moz-placeholder {
                        color: #fff;
                        font-size: 18px;
                        opacity: 0.3;
                    }
                    /* Firefox 19+ */
                    &:-moz-placeholder {
                        color: #fff;
                        font-size: 18px;
                        opacity: 0.3;
                    }
                    /* Firefox 18- */
                    &:-ms-input-placeholder {
                        color: #fff;
                        font-size: 18px;
                        opacity: 0.3;
                    }
                    &:focus::-webkit-input-placeholder {
                        color: transparent;
                        transition: color .2s ease;
                    }
                    &:focus::-moz-placeholder {
                        color: transparent;
                        transition: color .2s ease;
                    }
                    &:focus:-moz-placeholder {
                        color: transparent;
                        transition: color .2s ease;
                    }
                    &:focus:-ms-input-placeholder {
                        color: transparent;
                        transition: color .2s ease;
                    }
                }
            }
        }
        @media (max-width: @screen-sm-max) {
            display: none;
            position: absolute;
            width: 100%;
            z-index: 10;
            left: 0;
            top: 71px;
            .row {
                margin-left: 0px;
                margin-right: 0px;
            }
            ul {
                background-color: @grey;
                padding-bottom: 19px;
                * {
                    display: block;
                    text-align: center;
                    padding: 5px 0 4px;
                }
                li:nth-child(2) {
                    padding-top: 19px;
                }
                li:last-child {}
                .mobile-search,
                form {
                    padding: 0 !important;
                }
                a {
                    display: inline-block !important;
                    padding: 0 10px !important;
                }
                .close-search {
                    display: none !important;
                }
            }
        }
        @media (max-width: @screen-sm-max) {
            .mobile-search {
                display: block !important;
            }
            ul {
                li {
                    margin-bottom: -1px;
                }
            }
        }
        @media (max-width: 480px) {
            .menu-contacts {
                display: block !important;
            }
        }
    }
    .mobile-contact-form {
        width: 100% !important;
        top: 0 !important;
        padding: 20px 0 0 0 !important;
        left: 0px;
        right: auto !important;
        .contact-info {
            margin-left: 17px !important;
        }
        .height-fix {
            padding-top: 0 !important;
            margin-left: 0 !important;
            //margin-left: -51px !important;
            //padding-left: 43px !important;
        }
        .contact-info {
            font-size: 12px !important;
            //margin-left: 18px;
        }
        .close-pop-up {
            //top: 0 !important;
        }
        .socials {
            margin-left: 90px !important;
        }
        .title {
            display: none;
        }
        .pop-up-form {
            left: -8% !important;
            top: auto !important;
            input,
            textarea,
            button {
                width: 116% !important;
            }
        }
    }
    .pop-up-contacts {
        position: absolute;
        //padding: 36px 45px 51px 79px;
        box-sizing: border-box;
        right: 0;
        top: 0;
        width: 360px;
        background-color: @darkgrey;
        display: none;
        z-index: 15000;
        border-top: 70px solid #000;
        height: 1600% !important;
        .height-fix {
            padding: 39px;
        }
        .title {
            position: absolute;
            right: 37px;
            color: #FFFFFF;
            top: -45px;
            font-size: 14px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .close-pop-up {
            width: 70px;
            height: 70px;
            position: absolute;
            top: -70px;
            left: 0;
            background: @grey url('../img/cross.svg') no-repeat 50% 50%;
            transition: .2s ease;
            &:hover {
                //border-bottom: none;
                //opacity: 0.5;
                //transition: .2s ease;
            }
        }
        .height-fix {
            &.active {
                //width: 110%;
                //margin-left: -39px;
                //padding-left: 46px;
                //padding-bottom: 38px;
                //padding-right: 14px;
                overflow-y: auto;
                //margin-top: -36px;
                //padding-top: 34px;
            }
            button[type=submit] {
                margin-bottom: 50px;
            }
        }
        .socials {
            position: absolute;
            top: -57px;
            margin-left: 85px;
            * {
                width: 46px;
                height: 46px;
                display: inline-block;
                margin-left: -3px;
                opacity: 1;
                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 46px;
                    height: 46px;
                    opacity: 0;
                }
            }
            .fb {
                background: #2e2f33 url('../img/fb.svg') no-repeat 50% 50%;
                position: relative;
                &:after {
                    background: url('../img/fb-hover.svg') no-repeat 50% 50%;
                }
            }
            .fb:hover {
                background-color: #004899;
                transition: all .2s ease;
                &:after {
                    opacity: 1;
                }
            }
            .insta {
                background: #393a40 url('../img/insta.svg') no-repeat 50% 50%;
                position: relative;
                &:after {
                    background: url('../img/insta-hover.svg') no-repeat 50% 50%;
                }
            }
            .insta:hover {
                background-color: #805e4d;
                transition: all .2s ease;
                &:after {
                    opacity: 1;
                }
            }
            .youtube {
                position: relative;
                background: #44454d url('../img/youtube.svg') no-repeat 50% 50%;
                &:after {
                    background: url('../img/youtube-hover.svg') no-repeat 50% 50%;
                }
            }
            .youtube:hover {
                background-color: #e12001;
                transition: all .2s ease;
                &:after {
                    opacity: 1;
                }
            }
        }
        .contact-info {
            position: relative;
            font-size: 14px;
            line-height: 20px;
            color: #859399;
            margin-bottom: 17px;
            margin-left: 40px;
            a {
                color: #859399;
            }
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: -38px;
            }
        }
        .adress:before {
            margin-top: 4px;
            //left: -37px;
            width: 13px;
            height: 20px;
            background: url('../img/adress-icon.svg') no-repeat;
        }
        .phone:before {
            margin-top: 4px;
            //left: -40px;
            width: 19px;
            height: 20px;
            background: url('../img/phone-icon.svg') no-repeat;
        }
        .mail:before {
            margin-top: 4px;
            //left: -40px;
            width: 20px;
            height: 15px;
            background: url('../img/mail-icon.svg') no-repeat;
        }
        .pop-up-form {
            position: relative;
            //left: -39px;
            top: 13px;
            label.error {
                color: @orange;
                display: block;
                margin-top: -5px;
                margin-bottom: 15px;
            }
            input,
            textarea {
                height: 50px;
                width: 280px;
                box-sizing: border-box;
                border: 1px solid #56585c;
                background: transparent;
                margin-bottom: 10px;
                color: #fff;
                padding-left: 15px;
                transition: .4s ease-out;
                &:hover {
                    transition: .4s ease-out;
                }
                &::-webkit-input-placeholder {
                    color: #56585c;
                }
                &::-moz-placeholder {
                    color: #56585c;
                }
                /* Firefox 19+ */
                &:-moz-placeholder {
                    color: #56585c;
                }
                /* Firefox 18- */
                &:-ms-input-placeholder {
                    color: #56585c;
                }
                &:focus::-webkit-input-placeholder {
                    color: transparent;
                    transition: color .2s ease;
                }
                &:focus::-moz-placeholder {
                    color: transparent;
                    transition: color .2s ease;
                }
                &:focus:-moz-placeholder {
                    color: transparent;
                    transition: color .2s ease;
                }
                &:focus:-ms-input-placeholder {
                    color: transparent;
                    transition: color .2s ease;
                }
                &:focus {
                    border: 2px solid #fff;
                }
                &:hover::-webkit-input-placeholder {
                    opacity: 1;
                }
                &:hover::-moz-placeholder {
                    opacity: 1;
                }
                &:hover:-moz-placeholder {
                    opacity: 1;
                }
                &:hover:-ms-input-placeholder {
                    opacity: 1;
                }
                &.error {
                    border: 2px solid @orange;
                }
            }
            textarea {
                box-sizing: border-box;
                resize: vertical;
                padding-top: 18px;
                height: 100px;
            }
            button {
                height: 50px;
                width: 280px;
                border: 2px solid @orange;
                background: #56322e;
                box-sizing: border-box;
                color: #fff;
                font-size: 14px;
                text-transform: uppercase;
                transition: .3s ease;
                &:hover {
                    background: @orange;
                    transition: .3s ease;
                }
            }
        }
        &.active {
            display: block;
        }
        @media (max-width: @screen-sm-max) {
            //top: 70px;
        }
    }
    @media (max-width: 480px) {
        .contacts-btn {
            display: none;
        }
        .menu-button {
            left: auto;
            right: 0;
        }
    }
}

// Search AutoComplete
.ui-autocomplete {
    border-top: 2px solid #000000;
    position: fixed;
    margin-top: -10px !important;
    background-color: #2c2e33;
    padding: 10px 0 10px 68px;
    z-index: 26000;
    left: 90px !important;
    list-style: none;
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        width: 69.1% !important;
    }
    li {
        color: #fff;
        font-size: 24px;
        cursor: pointer;
        padding-left: 20px;
        &.ui-state-focus {
            color: @orange;
        }
    }
}

//Slider
.slider-wrap {
    cursor: pointer;
    .line {
        //left: 1px;
    }
    .owl-controls {
        .owl-dots {
            .owl-dot {
                height: 16px;
                width: 16px;
                position: relative;
                top: -50px;
                border: solid 2px rgba(210, 210, 210, 0.6);
                z-index: 10000;
                margin-right: 80px;
                display: inline-block;
                &:last-child {
                    margin-right: 0px !important;
                }
                span {
                    width: 8px;
                    height: 8px;
                    position: relative;
                    display: block;
                    background: rgba(210, 210, 210, 0.6);
                    z-index: 10000;
                    margin: 4px;
                    &:after {
                        content: '';
                        width: 81px;
                        height: 2px;
                        position: relative;
                        top: 3px;
                        left: 13px;
                        background: rgba(210, 210, 210, 0.6);
                        display: block;
                        z-index: 0;
                    }
                }
                @media (max-width: @screen-sm-max) {
                    top: 0px !important;
                }
            }
            .owl-dot:last-child {
                span {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .owl-nav div {
            width: 70px;
            height: 70px;
            box-sizing: border-box;
            border: 2px solid #fff;
            top: 44%;
            color: transparent;
            opacity: 0.2;
            transition: 0.2s ease;
            z-index: 10000;
            .img {
                top: 44%;
                z-index: 10000;
            }
            &.owl-next {
                position: absolute;
                right: 0;
                background: url('../img/next-arrow.svg') no-repeat 50% 50%;
            }
            &.owl-prev {
                position: absolute;
                left: 0;
                background: url('../img/prev-arrow.svg') no-repeat 50% 50%;
            }
            &:hover {
                opacity: 1;
            }
            @media (max-width: @screen-sm-max) {
                display: none !important;
            }
        }
    }
    .owl-item {
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3;
            background-image: url('../img/pattern.png');
        }
    }
    .slide {
        width: 100% !important;
        position: relative;
        height: 585px;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.3;
            background: -moz-linear-gradient(to top, #ff4019, rgba(255, 64, 25, 0));
            background: linear-gradient(to top, #ff4019, rgba(255, 64, 25, 0));
            background: -ms-linear-gradient(to top, #ff4019, rgba(255, 64, 25, 0));
            -webkit-box-shadow: inset 0px 94px 100px -56px rgba(0, 0, 0, 1);
            -moz-box-shadow: inset 0px 94px 100px -56px rgba(0, 0, 0, 1);
            box-shadow: inset 0px 94px 100px -56px rgba(0, 0, 0, 1);
        }
        img {
            position: absolute;
            width: 100% !important;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: auto !important;
            max-width: inherit !important;
        }
        .slide-text {
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            top: 163px;
            font-size: 46px;
            color: #ffffff;
            width: 75%;
            text-align: center;
            text-transform: uppercase;
            font-weight: 800;
            z-index: 10;
            .slider-label {
                letter-spacing: -2px;
            }
        }
    }
    @media (max-width: @screen-sm-max) {
        .slide {
            height: 240px;
            .slide-text {
                font-size: 30px;
                width: auto;
                top: 20px;
                .slider-label {
                    &:before,
                    &:after {
                        display: none;
                    }
                }
                .btn-orange {
                    bottom: auto;
                }
            }
            img {
                //height: 128%;
            }
        }
        .owl-buttons {
            display: none !important;
        }
        .owl-page {
            top: auto !important;
        }
        .line {
            top: -25px !important;
        }
    }
    @media (max-width: 450px) {
        .owl-controls {
            display: none !important;
        }
    }
}

.btn-orange {
    padding-top: 14px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid transparent;
    display: block;
    width: 170px;
    height: 50px;
    background-color: rgba(222, 59, 38, 1);
    font-size: 14px;
    font-weight: 100;
    color: #ffffff;
    text-decoration: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -119px;
    margin: auto;
    transition: 0.2s ease;
    &:hover {
        background-color: rgba(222, 59, 38, 0.2);
        border: 2px solid @orange;
        transition: 0.2s ease;
    }
}

.slider-wrap {
    position: relative;
}

.bg {}

.slider-label {
    font-family: arial, sans-serif;
    &:before,
    &:after {
        content: '';
        height: 5px;
        width: 50px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        bottom: -29px;
    }
    &:before {
        background: #ffffff;
        transform: translateX(-25px);
    }
    &:after {
        background: @orange;
        transform: translateX(25px);
    }
}
